.container{ display: flex;
           flex-direction: column;
          height: 100vh
          }
.header{ flex: 15%;
        background-color: lightblue;
}
.menu{ flex: 5%; 
      background-color: lightpink;
      display: flex;
      color: white;
}
.menu a{
           padding: 15px 20px; 
}
.menu hover{
           background-color: lightgray;
           color: blue;
}
.content{ flex: 70%;
         background-color: white;

}
.content iframe {
           flex: 1;
           border: none;
           width: 100%;
           height: 100px;
}
.footer{ flex: 10%;
        background-color: lightblue;
}

h1 {color: blue; text-align: center;}
h2 {color: purple;}
h3{color: blue;}
td{padding: 20}
.tieude {color:purple;
       font-size:30pt;
       top-margin:20pt;}
.noidung{color:black;
       font-size:25pt;
       top-margin:15pt;}
